server:
  port: 8761

spring:
  application:
    name: service-discovery

  cloud:
    config:
      enabled: false
      fail-fast: false

  profiles:
    active: standalone

  config:
    import: "optional:configserver:"

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 4000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

  endpoint:
    health:
      show-details: always

  health:
    show-details: always
    show-components: always

logging:
  level:
    '[com.netflix.eureka]': DEBUG
    '[com.netflix.discovery]': DEBUG
    root: INFO
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

---
spring:
  config:
    activate:
      on-profile: standalone

eureka:
  server:
    enable-self-preservation: false

logging:
  level:
    '[com.netflix.eureka]': INFO
    '[com.netflix.discovery]': INFO
